<div>
  <h1>Carrito</h1>
  <ul>

      {{#each cart}}
                {{#each this.products}}
                 <li> 
                    <span>Producto:</span><span id="productId">{{this.productId}}</span>
                    <span>Cantidad:</span><span id="productQty">{{this.quantity}}</span>
                  </li>
                {{/each}}
        {{/each}} 


  </ul>
</div>

<script src="./js/cart.js"></script>