  <div>
    <h1>Chat section</h1>
    <div class="chatSection">
        <div>
            <div  id="messageLogs"></div>
        </div>
    </div>
    <div class="sendingBox">
        <input type="text" id="chatBox" placeholder="Escribí tu mensaje">
        <i class="fa-solid fa-circle-chevron-right"></i>
    </div>
    <div class="container-conectado"><span class="conectado"> Conectado como: </span><span class="username"></span></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>