<div class="login-container">
  <form id="forgot-form" class="forgot-form">
    <h2>Recuperar contrase単a</h2>
    <div class="form-group">

      <label for="username">Email:</label>
      <input type="email" id="username" name="username" required />
    </div>
    <div class="form-group">

      <label for="password">Contrase単a:</label>
      <input type="password" id="password" name="password" autocomplete="on" required />

    </div>
    <div class="form-group">

      <label for="passwordRepeat">Repetir contrase単a:</label>
      <input type="password" id="passwordRepeat" name="passwordRepeat" autocomplete="on" required />

    </div>
    <button id="forgotPassBtn" type="submit">Recuperar contrase単a</button>
  </form>
</div>
<script src="js/forgot.js"></script>