<div class="forgot-container">
  <form id="forgot-form" class="forgot-form">
    <h2 class="forgot-title">Recuperar contraseña</h2>
    <input type="email" id="username" name="username" placeholder="Usuario/Email" autofocus required />
    <button id="forgotPassBtn" type="submit">Recuperar contraseña</button>
  </form>
</div>
<script src="/js/forgotBtn.js"></script>