<div class="login-body">
  <div class="login-container">
    <form id="login-form" class="login-form">
        <h2 class="login-title">Login</h2>
        <input type="text" id="username" name="username" placeholder="Username/Email" required autofocus/>
        <input type="password" id="password" name="password" autocomplete="on" placeholder="Contraseña" required />
        <a id="forgotPass">Recuperar contraseña</a>
        <button id="login" type="submit">Ingresar</button>
    </form>  
    <a href="/api/session/github" class="github-link"><i class="fa-brands fa-square-github"></i> Login con GitHub</a>
    <hr class="login-divider">
    <button id="registrate">Registrate</button>
  </div>
  <div class="logo-container">
    <img src="/images/grocery-store.jpg" alt="Login image Background">
  </div>
    

</div>
<script src="/js/login.js"></script>