<div>
  <header class="header-products">
      <a href="/products"><img src="/images/Logo.png" alt="Business logo"></a>
  </header>
  <div class="success_container" data-id='{{ticketId}}'>

  </div>
  <div class="btn-back-container">
    <button class="success-back">Home</button>
  </div>
  <footer class="footer">
    The Market® 2023 
  </footer>
</div>

<script src="/js/paymentSuccess.js"></script>
