<div class="rolchange-container">
    
</div>



<div class="forgot-container">
  <form id="forgot-form" class="forgot-form">
    <h2 class="forgot-title">Recuperar contrase単a</h2>
    <input type="email" id="username" name="username" placeholder="Username/Email" autofocus required />
    {{!-- <input type="password" id="password" name="password" autocomplete="on" placeholder="Contrase単a" required /> --}}
    {{!-- <input type="password" id="passwordRepeat" name="passwordRepeat" placeholder="Repita la contrase単a" autocomplete="on" required /> --}}
    <button id="forgotPassBtn" type="submit">Recuperar contrase単a</button>
  </form>
</div>
<script src="/js/rol.js"></script>