<div class="signup-body">
  <div class="logo-container">
    <img src="/images/grocery-store2.jpg" alt="Login image Background">
  </div>
  <div class="signup-container">
    <form id="signup-form" class="signup-form">
    <a href="/" class="volver-login"><i class="fa-solid fa-chevron-left"></i> Volver al login</a>
      <h2>Crea tu usuario</h2>
      <input type="email" id="username" name="username" placeholder="Email" autofocus required />
      <input type="text" id="first_name" name="first_name" placeholder="Nombre"  required/>
      <input type="text" id="last_name" name="last_name" placeholder="Apellido" required />
      <input type="number" id="age" name="age" placeholder="Edad" required />
      <input type="password" id="password" name="password" autocomplete="on" placeholder="Contraseña" required />
      <button id="signup" type="submit">Crear usuario</button>
    </form>
  </div>
</div>

<script src="/js/signup.js"></script>